@charset "utf-8";
/* CSS Document */



/* + + + + Nav Color Theme + + + + */
nav {background-color:#34495E;}
.nav-menu .norm a:after {background-color:#4B6988;}
.nav-menu .norm a:before {background-color:#537597;}
.nav-menu .active a:before {background-color:#4B6988;}
/* - - - - End Color Theme - - - - */


.nav-spacer{
   height:72px;
   }




/* + + + + Navbar Body + + + + */

nav {
  position:absolute;
  height:72px;
  width:100vw;
}

.nav-menu {
  display:flex;
  margin-top:0px;
  padding:0;
}

/* - - - - End Navbar Body - - - - */


/* + + + + Nav Buttons + + + + */

.nav-menu li {
  display:block;
  flex-grow:1;
   text-align:center;
   z-index:100;
   background-color:transparent;
   line-height:70px;

   overflow:hidden;
}

.nav-menu li a {  
  position:relative;
  display:inline-block;
  z-index:50;
  width:100%;
  color:#fff;
  font-size:16px;
  text-decoration:none;
  text-transform:uppercase;
     margin-top:2px;
}

   /* + + Style for Top-Level li's Only + + */
   .nav-menu .li-1{width:100%;}



/*  + + + +  Nav Button Pseudos  + + + + */

.nav-menu .norm a:after, 
.nav-menu .norm a:before {
  content:"";
  position:absolute;
  display:inline-block;
  height:70px;
     margin-top:-2px;
}

.nav-menu .norm a:after {
  left:50%;
  width:0%;
  z-index:-20;
 -webkit-transition: .5s ease all; 
  transition: .5s ease all;
}

.nav-menu .norm a:hover:after {
  left:0%;
  width:100%;
 -webkit-transition: .2s ease-out all; 
  transition: .2s ease-out all;
}

.nav-menu .norm a:before {
  left:0%;
  width:100%;
  z-index:-50;
}

/* - - - - End Nav Button Pseudos - - - - */

