@charset "utf-8";
/* CSS Document */


/* + + + + Nav Color Theme + + + + */

/*nav {  background-color:#34495E;}
nav #logo { background: #66AA5E;}
nav a {  color: #EEE;}
nav a.active .fa { border-left: 3px solid #f60;}
nav a:hover {  background: #444;}*/
/* - - - - End Color Theme - - - - */



#main-nav{
  background-color:#34495E; 
  color:#fff}

.navbar-brand, 
.navbar-nav li a{color:#fff}

.navbar-brand:hover, 
.navbar-nav li a:hover{
  background-color:#46637f; color:#fff!important}
  
.icon-bar {background-color:#fff;} 
