@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600);


* {box-sizing:border-box; font-family:"Open Sans", sans-serif;}

body {background-color:#FFF;}

body {
  margin:0 0 0 0;
  padding:0;
  overflow-x:hidden;
}

a{color:#555;text-decoration:none;}
a:hover, a:focus{color:#555;text-decoration:none;}

.jumbo{height:300px; background-color:#EFEFEF; padding-left:10px !important; padding-right:10px !important; overflow:hidden;}

.jumbo-box{margin-bottom:-48px}
.jumbo-text{position:relative; height:300px; padding:0; z-index:10;}
.text-helper{position:absolute; bottom:40px; width:90%; text-align:right;}
.text-helper h1{ font-size:50px}
.text-helper p{ font-size:20px}
.jumbo-img{position:relative; height:300px; padding:0; z-index:0;}
.jumbo-img img{position:absolute; height:100%; bottom:0; margin-left:0%;}


@media (min-width:768px) and (max-width:1199px){
   .text-helper{position:absolute; bottom:30px; width:90%; text-align:right;}
   .text-helper h1{ font-size:46px}
   .text-helper p{ font-size:18px}
   }
@media (max-width:767px){
   .text-helper{position:absolute; bottom:3vw; left:1vw; width:100%; text-align:left;}
   .text-helper h1{ font-size:40px}
   .text-helper p{ font-size:16px}
   }



.container-body{margin-top:50px}


.col-row-faker{
  padding:0 0 !important;
  margin:0 0 !important;
}

.col-offering{
  min-height:200px !important;
  padding:8px 20px;
  margin:0px 0 30px 0 !important;
  border:1px solid #ddd;
  border-radius:3px;
    background-color:#eee
}

.col-offering:hover,.col-offering:focus{
  background-color:#fff
}

.col-offering img{
  max-width:100%;
}